<p-toolbar styleClass="px-3 lg:px-5 py-2">
  <div class="p-toolbar-group-start" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
    <span class="text-2xl font-medium mr-5">Planista</span>

    <!-- Planner -->
    <button
      fxHide.lt-md
      pButton
      class="p-button-text p-button-secondary"
      label="Planner"
      icon="pi pi-calculator"
      [routerLink]="Route.PLANNER"
      [disabled]="url === Route.PLANNER"
    ></button>

    <!-- Planner (Icon Only) -->
    <button
      fxHide.gt-sm
      pButton
      class="p-button-text p-button-secondary"
      icon="pi pi-calculator"
      [routerLink]="Route.PLANNER"
      [disabled]="url === Route.PLANNER"
    ></button>

    <!-- Equipment -->
    <button
      fxHide.lt-md
      pButton
      class="p-button-text p-button-secondary"
      label="Equipment"
      icon="pi pi-table"
      [routerLink]="'/' + Route.EQUIPMENT"
      [disabled]="url.startsWith(Route.EQUIPMENT)"
    ></button>

    <!-- Equipment (Icon Only)-->
    <button
      fxHide.gt-sm
      pButton
      class="p-button-text p-button-secondary"
      icon="pi pi-table"
      [routerLink]="'/' + Route.EQUIPMENT"
      [disabled]="url.startsWith(Route.EQUIPMENT)"
    ></button>

    <!-- Age -->
    <button
      fxHide.lt-md
      pButton
      class="p-button-text p-button-secondary"
      label="Age"
      icon="pi pi-calendar"
      [routerLink]="Route.AGE"
      [disabled]="url === Route.AGE"
    ></button>

    <!-- Age (Icon Only) -->
    <button
      fxHide.gt-sm
      pButton
      class="p-button-text p-button-secondary"
      icon="pi pi-calendar"
      [routerLink]="Route.AGE"
      [disabled]="url === Route.AGE"
    ></button>
  </div>
  <div fxHide.lt-sm class="p-toolbar-group-end" fxLayout="row" fxLayoutGap="8px">
    <!-- Github Link -->
    <a
      pButton
      label="View on GitHub"
      icon="pi pi-github"
      iconPos="right"
      class="p-button-text p-button-secondary no-underline"
      [href]="githubLink"
    ></a>
  </div>
</p-toolbar>
