<div
    class="builder-page"
    fxFill
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="32px"
>

    <!-- Forms -->
    <div fxLayout="column" fxLayoutGap="12px">

        <div fxLayout="row" fxLayoutAlign="space-between">
            <!-- Title -->
            <app-title
                [title]="'Desired Attributes'"
                [info]="getDesiredAttributesTooltip()"
                [level]="1"
            >
            </app-title>

            <!-- Reset Button -->
            <button mat-stroked-button color="accent" (click)="onResetClick()">
                Reset
            </button>
        </div>
        

        <!-- Attributes -->
        <div
            fxLayout="row wrap" fxLayoutAlign="space-between"
            
        >
            <!-- Weapon Form -->
            <ng-container [formGroup]="weaponSkillForm">
                <mat-form-field appearance="outline" fxFlex="48">
                    <mat-label>Weapon Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let weaponSkill of weaponSkills" [value]="weaponSkill">
                            {{ weaponSkill | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline"  fxFlex="48">
                    <mat-label>Weapon Skill</mat-label>
                    <input matInput type="number" min="0" formControlName="skill" autocomplete="off">

                    <!-- Lock Icon -->
                    <button mat-icon-button matSuffix
                        (click)="onLockClick()"
                        [disabled]="isWeaponSkillLocked() || !weaponSkillForm.value.type"
                    >
                        <mat-icon>{{ isWeaponSkillLocked() ? 'lock' : 'lock_open' }}</mat-icon>
                    </button>
                </mat-form-field>
            </ng-container>

            <!-- Attribute Form -->
            <ng-container [formGroup]="attributeForm">
                <mat-form-field appearance="outline" fxFlex="48" *ngFor="let attribute of attributes">
                    <mat-label>{{ attribute | titlecase }}</mat-label>
                    <input matInput type="number" min="0" [formControlName]="attribute" autocomplete="off">

                    <!-- Lock Icon -->
                    <button mat-icon-button matSuffix
                        (click)="onLockClick(attribute)"
                        [disabled]="isAttributeLocked(attribute)"
                    >
                        <mat-icon>{{ isAttributeLocked(attribute) ? 'lock' : 'lock_open' }}</mat-icon>
                    </button>
                </mat-form-field>
            </ng-container>

        </div>
        

    </div>

    <!-- Results -->
    <div fxFlex fxFlex.gt-sm="40" fxLayout="column">

        <!-- Title -->
        <app-title
            [title]="'Results'"
            [info]="getResultsTooltip()"
            [level]="1"
        >
        </app-title>

        <!-- Race List -->
        <div fxLayout="row">
            <mat-action-list fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm>
                <button mat-list-item
                    *ngFor="let race of races"
                    (click)="onRaceItemClicked(race)"
                    matTooltip="Display racial modifiers"
                >
                    <span>{{ race | titlecase }}</span>
    
                    <div fxFlex></div>
    
                    <span [style.color]="getLockedAttributePointsColor(race)">
                        {{ getLockedAttributePoints(race) | number: '1.0-0' }}
                    </span>

                    &nbsp;
                    &nbsp;
                    
                    <span>
                        {{ (lockedAttribute ? lockedAttribute : weaponSkillForm.value.type ) | titlecase }}
                    </span>

                </button>
            </mat-action-list>
        </div>

    </div>


</div>
