@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
