<!-- Content -->
<p-table
  *ngIf="items$ | async as items"
  [columns]="(columns$ | async) ?? []"
  [value]="items"
  [resizableColumns]="true"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first}-{last} of {totalRecords}"
  [rowsPerPageOptions]="[10, 25, 50]"
  styleClass="p-datatable-striped"
>
  <!-- Data -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <!-- Name Column -->
      <th pResizableColumn>Item</th>

      <!-- Selected Columns -->
      <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
        <p-columnFilter
          *ngIf="col.filterType"
          [type]="col.filterType"
          [field]="col.field"
          display="menu"
        ></p-columnFilter>
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <!-- Name Column Data -->
      <td fxLayout="row" fxLayoutAlign="start center">
        {{ rowData.name }}
      </td>

      <!-- Selected Columns Data -->
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>
