<!-- Header -->
<h1 mat-dialog-title>{{ data?.race | titlecase }}</h1>

<!-- Content -->
<div mat-dialog-content>

    <mat-list>
        <mat-list-item
            *ngFor="let attribute of attributes"
        >
            <span>
                {{ attribute | titlecase}}
            </span>

            <div fxFlex></div>

            <span>
                {{ getFormattedAttributeFactor(attribute) | number: '1.0-0' }} %
            </span>


        </mat-list-item>
    </mat-list>

</div>

<!-- Footer -->
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button (click)="onCloseClick()">
        Close
    </button>
</div>